html, body {
  height: 100%;
  width: 100%;
}

h2 {
  color: orange;
}

h1{
  color: navy
}

h3{
  color: red
}

label {
  font-weight: bold;
  display:inline-block;
  width:100px;
  text-align:right;
}

input {
  margin-bottom: 12x;
}

input[type=submit] {
  float:right;
}

form {
  width:270px;
}